main {
  .banner {
    color: white;


    .arrow-left{

      left: 3%;
      fill:'white';
      stroke: white;

    } 
    
    .arrow-right{
      fill:'white';
      stroke: white;

      right: 3%;

    }
    .slick-arrow{
      position: absolute;
    top: 30%;
    z-index: 5;
    cursor: pointer;

    @media screen and (max-width: 767px){

      display: none !important;
    }


    }


    .banner-item {
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // background-size: cover;

      padding: 160px;
      background-size: 100% 280px;
    background-repeat: no-repeat;

      h2 {
        font: bold 30px $font;
        width: 45%;
        // text-shadow: 2px 3px black;
        color: white;
        
      }
      
      h3 {
        font: 500 20px $font;
        margin: 1rem 0;
        width: 45%;
        color: white;


      }

      a {
        font: bold 16px $font;
        color: #fff;
        padding: 1rem;
        border-radius: 25px;
        background-color: $verde-brand;
        width: min-content;
        margin-top: 1rem;
      }
    }

    .banner-bebidas{
      background-position-x: right;

    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      list-style-type: none;

      li {
        border: 1px solid $dark-grey;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $light-grey;
        cursor: pointer;
        transition: background-color 0.2s;
        margin: 0 0.25rem;

        &:hover {
          background-color: $grey;
        }

        &.slick-active {
          border: 1px solid $dark-grey;
          background-color: $dark-grey;
        }

        button {
          display: none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      background-color: $grey;
      padding: $container-padding;


      .banner-item {
        margin-top: 0;
        background-image: none !important;
        padding: 0;

        h2 {
          font-size: 36px;
        }

        h2,
        h3 {
          width: auto;
        }
        
      }
    }
  }
}
