footer {
  padding: 60px 0 0 0;
  position: relative;
  width: 100%;

  .footer-newsletter {
    display: flex;
    width: 100%;
    background-color: #58585a;
    padding: 20px 30px;

    p {
      font-size: 2rem;
      letter-spacing: 2px;
      color: white;
      padding-right: 1%;
      font-weight: 700;
    }

    form {
      width: 50%;
      display: flex;

      input {
        width: 100%;
        border: none;
        border-radius: 10px;
      }

      .input {
        padding-left: 20px;
      }

      .submit {
        border-radius: 0px;
        width: 20%;
        margin-left: 30px;
        border: 2px solid white;
        background: transparent;
        color: white;
      }
    }
  }

  .footer-bottom {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

    .footer-contact,
    .footer-atendimento,
    .footer-sociais {
      width: 33%;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: bolder;
        padding-bottom: 6%;
        font-size: 1.5rem;
        color: #58585a;
      }
    }

    .footer-contact {
      padding-right: 5%;

      p {
        color: #58585a;
        font-weight: 500;
        width: 70%;
      }
    }
    .footer-atendimento {
      padding-right: 5%;

      .icon {
        width: 30px;
        margin-right: 10px;
      }

      .icon-content-wrapper {
        display: flex;
        padding-bottom: 20px;
      }
    }
    .footer-sociais {
      .icons-social {
        .icon-content-social-wrapper {
          display: flex;
          padding-bottom: 20px;

          img {
            width: 40px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {


    .footer-newsletter {
      // display: flex;
      // width: 100%;
      // background-color: #58585A;
      // padding: 20px 30px;

      flex-direction: column;

      p {
        //   font-size: 2rem;
        // letter-spacing: 2px;
        // color: white;
        // padding-right: 1%;
        // font-weight: 700;
        font-size: 1.3rem;
      }

      form {
        padding-top: 20px;
        width: 100%;
        display: flex;

        input {
          // width: 100%;
          // border: none;
          // border-radius: 10px;
          padding: 7px 20px;
        }

        .input {
          // padding-left: 20px;
        }

        .submit {
          //     border-radius: 0px;
          width: 30%;
          //     margin-left: 30px;
          // border: 2px solid white;
          // background: transparent;
          // color: white;
          padding: 8px 5px;
        }
      }
    }
    .footer-bottom {
      background-color: lightgray;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 30px;
  
      .footer-contact,
      .footer-atendimento,
      .footer-sociais {
        width: 100%;
        display: flex;
        flex-direction: column;
  
        h2 {
          font-weight: bolder;
          padding-bottom: 6%;
          font-size: 1.5rem;
          color: #58585a;
        }
      }
  
      .footer-contact {
        display: none;

      }
      .footer-atendimento {
        padding-right: 5%;
  
        .icon {
          width: 30px;
          margin-right: 10px;
        }
  
        .icon-content-wrapper {
          display: flex;
          padding-bottom: 20px;

          .icon-wrapper{
            width: 42px;
          }
        }
      }
      .footer-sociais {
        .icons-social {
          display: flex;
    flex-direction: column;
    // align-items: center;
          .icon-content-social-wrapper {
            display: flex;
            padding-bottom: 20px;
  
            img {
              width: 40px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    
  }
}
