header {
  z-index: 140;
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 23%;
  background-color: #ffffff;
  // height: 100px;
  // padding-top: 25px ;
  margin-top: -1px;
  padding-top: 10px;


  @media screen and (max-width: 767px) {
    position: absolute;
    flex-direction: row;
  }

  @media screen and (max-width: 1150px) {
    // padding-right: 20px;
  }

  .row {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 0px 15px;

    @media screen and (min-width: 767px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }

    @media screen and (max-width: 1150px) {
      // padding: 0px;
      justify-content: space-around;

      width: 100%;
      > a {
        display: none;
      }
    }

    @media screen and (min-width: 1320px) {
      padding: 0px 40px;
    }

    .mobile-button-wrapper {
      grid-row: 1/2;
      grid-column: 1/2;

      width: 20px;
      height: 20px;

      width: 25px;
      height: 25px;

      /* margin: 5px; */

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: 767px) {
        display: none;
      }

      .mobile-button__burguer {
        width: 100%;
        height: 2px;
        background-color: black;
      }
    }

    .logo-wrapper {
      grid-row: 1/2;
      grid-column: 2/3;
      text-align: center;
      width: 100%;
      height: 100%;

      @media screen and (min-width: 767px) {
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: left;
      }

      @media screen and (min-width: 1023px){
        width: 50%;
        margin-bottom: 10px;      }

      @media screen and (min-width: 1320px){

        width: 33%;
        margin-bottom: 10px;


      }

      .logo {
        width: 100%;
        height: 100%;

        background-image: url(https://remindbrindes.com.br/cliente/css/logo_top-vd.png?v=1);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: 767px) {
          width: 70%;
        }
        @media screen and (min-width: 1024px) {
          height: 100%;
          width: 100%;
        }

        @media screen and (min-width: 1320px){
          width: 100%;


        }
      }
    }

    .cart-wrapper {
      grid-row: 1/2;
      grid-column: 3/4;
      text-align: end;

      @media screen and (min-width: 767px) {
        display: none;
      }

      img {
        width: 30px;
      }
    }

    .header-form-wrapper {
      grid-row: 2/3;
      grid-column: 1/4;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 767px) {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      @media screen and (min-width: 1320px){
        margin-left: 90px;

      }

      form {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;

        @media screen and (max-width: 1150px) {
          width: 100%;
          // margin-left: 1rem;
        }

        input {
          width: 80%;
          text-align: center;

          &::placeholder {
            font-size: 1rem;
          }
        }

        #search {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;

          @media screen and (max-width: 767px) {
            padding: 0;
          }
        }

        .header-submit {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 50px;
          background-color: lightgray;
          padding: 10px;

          @media screen and (max-width: 766px) {
            width: 60px;
            padding: 10px;
          }
        }

        input {
          border-radius: 10px;
          border: 1px solid gray;

          &::placeholder {
            font: bold 16px $font;
            color: gray;
          }
        }
      }
    }

    .header-contact-wrapper {
      display: flex;
      justify-content: flex-end;

      width: 100%;

      grid-row: 1/2;
      grid-column: 3/4;

      @media screen and (max-width: 766px) {
        display: none;
      }

      @media screen and (min-width: 1320px){

        margin-bottom: 10px;

      }

      .satisfaction-svg {
        width: 90px;
        align-self: baseline;
      }

      .header-contact {
        margin-left: 25px;

        .header-contact__ajuda {
          color: gray;
          font-size: 1.3rem;
        }
        .header-contact__numero {
          color: $verde-brand;
          font-size: 1.3rem;
        }
        .header-contact__email {
          color: gray;
        }
      }
    }
  }

  nav#categoria {
    margin-top: 0;
    height: 67px;
    padding-top: 22px;
    justify-content: center;
    background: #b3c134;

    ul {
      li {
        a {
          color: #fff !important;
        }
      }
    }
  }

  nav {
    background-color: $grey;
    padding: 10px;


    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      padding: 0px;

      display: none;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      background-color: #fff;
    }

    @media screen and (min-width: 1320px) {
      // padding: 15px;
      padding: 15px 40px;

    }

    &.open {
      display: flex;
      background-color: #fff;
      max-height: 100vh;
      transition: max-height 1s;

      ul {
        flex-direction: column;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;

      @media screen and (max-width: 1023px) {
        flex-direction: column;
        text-align: center;
      }

      li {
        position: relative;

        @media screen and (max-width: 1150px) {
          // display: none;
          padding-bottom: 1rem;
        }

        a {
          text-transform: uppercase;
          color: $dark-grey;
          font-size: 0.9rem;
        }

        &.first-mobile{
          display: none;
          
          @media screen and (max-width: 1023px){
            display: block;
          }

        }

        &.first {

          @media screen and (max-width: 1023px){
            display: none;
          }



          &.has-submenu {
            &::after {
              content: url("svg/arrow-down.svg");
              right: -25px;
              top: -0.5px;
              position: absolute;

              @media screen and (max-width: 767px) {
                content: "";
              }
            }
          }
          .submenu-container {
            max-width: 80vw;

            @media screen and (max-width: 1150px) {
              position: static;
            }

            .submenu {
              flex-direction: row;
              justify-content: flex-start;
            }
          }
        }

        &.categoria {
          &.has-submenu {
            &::after {
              content: url("svg/arrow-down.svg");
              right: -25px;
              top: -0.5px;
              position: absolute;

              @media screen and (max-width: 767px) {
                content: "";
              }
            }
          }
          .submenu-container {
            max-width: 80vw;

            @media screen and (max-width: 1150px) {
              position: static;
            }

            .submenu {
              flex-direction: row;
              justify-content: flex-start;
              width: 100vw;

              .grupo {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                li {
                  width: 50%;
                }
              }
            }
          }
        }

        .submenu-container {
          display: none;
          position: absolute;
          padding-top: 1rem;
          width: max-content;
          z-index: 5;

          .submenu {
            display: flex;
            padding: 15px 30px;
            background-color: $light-black;
            position: relative;
            border-radius: 4px;
            flex-wrap: wrap;
            flex-direction: column;

            .grupo {
              width: 20%;
              margin: 0.25rem 1rem;

              li {
                a {
                  &.principal {
                    text-transform: uppercase;
                    font-weight: bold;
                  }

                  &:not(.principal) {
                    color: $light-grey;

                    &::before {
                      content: "> ";

                      left: 0;
                    }
                  }
                }
              }
            }

            &::before {
              content: "";
              position: absolute;
              border-radius: 15%;
              height: 20px;
              width: 20px;
              background-color: #4a4a4a;
              rotate: 45deg;
              top: -5px;
              left: 4.5rem;
            }

            li {
              margin: 0.25rem 0;

              a {
                font-size: 14px;
                text-transform: capitalize;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
