.header-form-wrapper {
    grid-row: 1/2;
    grid-column: 3/4;
    margin-bottom: 0;
    display: flex;
    align-self: center;
    justify-self: end;

    
    @media screen and (min-width: 767px) {
      grid-row: 1/2;
      grid-column: 2/3;
      justify-self: stretch;

    }

    @media screen and (min-width: 1320px){
      // margin-left: 90px;

    }

    .show-header-form-btn{

      background: transparent;
      border: none;
      width: 30px;
      align-self: flex-start;

      @media screen and (min-width: 767px){

        display: none;

      }

    }



    .input-wrapper{
      z-index: 999999999;
      height: 100px;
      width: 100%;
      background-color: white;

      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-150px);

      @media screen and (min-width: 767px){

        position: static;
        transform: translate(0);

      }

    }

    .show-search-form{  //usado na função para mostrar o input 

      transform: translateY(0px);
      transition: all .3s;

    }

    .hide-input-button{
      background-color: transparent;
      border: none;
      font-size: 1.3rem;
      margin-right: 15px;


      @media screen and (min-width: 767px){

        display: none;
      }


    }

    .header-form {

      width: 80%;
      display: flex;
      justify-content: center;
      height: 40px;

      @media screen and (min-width: 767px){

        width: 100%;

      }
      
        
      @media screen and (min-width: 1900px) {
        height: 50px;

      }


      #search {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 80%;
        height: 100%;
        padding-left: 10px;
        background-color: #f5f5f5;

        &::placeholder {
          font-size: 1rem;

        }

        @media screen and (min-width: 767px){
          width: 100%;
        }

      }

      .autocomplete {
        position: relative;
        display: inline-block;
        width: 100%;
        z-index: 999999999;

      }

      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }
      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
      }
      .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
      }
      .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
      }

      .header-submit {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 50px;
        background-color: #f5f5f5;
        padding: 10px;

        @media screen and (max-width: 766px) {
          width: 60px;
          padding: 10px;
        }
      }

      input {
        border-radius: 5px;
        border: 1px solid gray;

        &::placeholder {
          font: bold 16px $font;
          color: gray;
        }
      }
    }
  }